<!doctype html>
<html>
   <body>
      <font size="5" face="Courier New" >

      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Loan Application ID</td>
            <td>Loan Amount</td>
            <td>Credit History</td>
            <td>Approved?</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["LoanID"]}}</td>
               <td>{{row['LoanAmount']}}</td>
               <td>{{row["CreditHistory"]}}</td>
               <td>{{row["ApprovalAnswer"]}}</td>
            </tr>
         {% endfor %}
      </table>
      </font>
      <a href = "/">Go back to home page</a>

   </body>
</html>
